/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/material.css';

#button-controls {
    display: inline-block;
    margin-top: 17%;
  }
  .controls {
    display: inline-block;
    width: 100%;
  }
  .dropdownlist {
   width: 250px;
   margin-top: 15%;
   margin-bottom: 15%;
   margin-left: 25%;
   margin-right: 1%;
   float: left;
  }
  .button_add {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  }
  .button_clear {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  }
  .button_remove {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  }
